## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.lb
*.brf
*.tex
*.blg
*.synctex
*.bbl
*.idx
*.ilg
*.ind

# image files
*.png
*.jpeg
*.jpg
*.bitmap

# But not these files.
!.gitignore
!.pdf
